{{d3-line-chart
  data=lineChartData
  interpolation=interpolation}}

<div class="menu">
  {{view "select"
    content=interpolationOptions
    value=interpolation}}
  {{view "select"
    content=maxItemsOptions
    value=maxItems}}
  <button {{action 'refresh'}}>Refresh</button>
</div>
